.columns {
  margin: 0% 5%;
}

/*tablet styles*/
@media only screen and (min-width: 768px) {
  .columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 90%;
    column-gap: 50px;
    margin: 0% 5%;
  }
}
/*desktop styles*/
@media only screen and (min-width: 992px) {
  .columns {
    max-width: 1200px;
    column-gap: 50px;
    margin: auto;
  }
}
