h1 {
  font-weight: 500;
  font-style: normal;
  font-size: 40px;
  margin: 5% 0% 5% 5%;
}
h2 {
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
}
.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  margin: 0% 5%;
}
.section1,
.section2,
.section3 {
  max-width: 300px;
}
/*desktop styles*/
@media only screen and (min-width: 992px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 5%;
    margin: 0% 5%;
  }
}
