.form__input {
  display: block;
  padding: 10px;
  margin: 5%;
}
#name,
#email,
#subject {
  padding: 5px 50px 5px 5px;
  margin: 20px 5%;
  font-family: "montserrat", arial, sans-serif;
  font-size: 15px;
  border: 1px solid black;
  max-width: 80%;
}
#subject {
  max-width: 80%;
}
#sendbutton {
  display: block;
  margin: 20px 5%;
  font-size: 15px;
  padding: 5px 20px;
}
/*tablet styles*/
@media only screen and (min-width: 768px) {
  #subject,
  #name,
  #email {
    width: 500px;
  }
  .contactform {
    width: 600px;
    margin: auto;
  }
}
